@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    background-color:#1C1C1C
}

h1{
    font-style: italic;
    font-size: 70px;
    color: beige;
}

p{
    color:#87CEEB;
    font-family:'Indie Flower', cursive;
    font-size: 25px;
}

.parag{
    text-align: justify;
    width: 600px;
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    object-fit: cover;   
}

.tst {
    border: 5px groove #fff;
    width: 620px;
    padding: 30px;
    margin: auto auto;
    border-radius: 10px;
    background-color: #1C1C1C;
}

.amarelo {
    font-size: 25px;
    color: rgb(255, 255, 17);
    font-weight: bold;
    
}

.vermelhoverde {
    font-size: 25px;
    color: #98FB98;
    font-weight: bold;
}

.roxo {
    font-size: 25px;
    color: rgb(136, 5, 141);
    font-weight: bold;
}